.env
.env.*
!.env.example

.git
.github
docs
infra
README.md

# Other services (not needed for this build)
# Each Dockerfile only copies what it needs

**/__pycache__
**/*.py[cod]
**/venv
**/.venv

**/node_modules
**/dist
**/dist-ssr

**/*.session
**/*.session-journal

.vscode
.idea
